<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>811795820195-b8a0kqeksfnmqfcmddvolusgi3u5hth5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.811795820195-b8a0kqeksfnmqfcmddvolusgi3u5hth5</string>
	<key>API_KEY</key>
	<string>AIzaSyBzBxlpqRrqy3IO1W2ohs2qtmFlumun8sw</string>
	<key>GCM_SENDER_ID</key>
	<string>811795820195</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alexanderritik.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-8b812</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-8b812.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:811795820195:ios:e80798245b4ffcaec79916</string>
	<key>DATABASE_URL</key>
	<string>https://messenger-8b812.firebaseio.com</string>
</dict>
</plist>